{% load static %}
<html>
    <head>
        <title>GesTea: Sistema de gestión de té</title>
        <link rel="stylesheet" href="{% static 'css/teasite.css' %}">
        <link href="//fonts.googleapis.com/css?family=Gayathri" rel="stylesheet" type="text/css">
    </head>
    <body>
        <div class="page-header">
            <h1><a href="/">SENTIDOS Té</a></h1>
            <h2>Sistema de gestión</h2>
            <div id="nav-bar">
                <div id="nav1" class="nav-item"><a href="/clientes/">Clientes</a></div>
                <div id="nav2" class="nav-item">Productos</div>
                <div id="nav3" class="nav-item">Pedidos</div>
            </div>
        </div>
        <div>
            <div class="content container">
                <div class="row">
                    <div class="col-md-8">
                        {% block content %}
                        {% endblock %}
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
