{% extends 'base.html' %}
{% block content %}
   <h1>Pedido para <a href="{% url 'shop_details' pk=shop.pk %}">{{ shop.nombre }}</a></h1>
   <table id="tabla">
      <tr>
         <th>Nombre</th>
         <th>Presentación</th>
         <th>Precio Unitario</th>
         <th>Cantidad</th>
         <th>Precio Total</th>
      </tr>
      {% for item in pedido.items.all %}
         <tr>
            <td>{{ item.producto }}</td>
            <td>{{ item.presentacion }}</td>
            <td>${{ item.presentacion.precio_mayorista }}</td>
            <td>{{ item.cantidad }}</td>
            <td>${{ item.total_price }}</td>
         </tr>
      {% endfor %}
   </table>
   <form method="POST">
      {% csrf_token %}     
      {% for field in form %}
         {% if field.field.widget.attrs.class == 'coleccion_drop' %}
            <p><label id="l_{{ field.name }}" for="{{ field.name }}" class="coleccion_drop_label">{{ field.label }}</label>
            {{ field }}</p>
         {% else %}         
            <p><label>{{ field.label }}</label>
            {{ field }}</p>
         {% endif %}
      {% endfor %}
      <p>Total: {{ pedido.total_price }}</p>
      <input type="hidden" name="pedido_id" value={{ pedido.pk }}></input>
      <button type="submit" name="newItem" formaction="#">Agregar productos</button>
      
      <p>Pedido: {{ pedido.pk }}</p>
   </form>
   <a href="/pedidos/" ><button>Finalizar Pedido</button></a>
   <script type="text/javascript">
      function myFunction() {
         var str1 = "id_coleccion"
         var str2 = "l_coleccion"
         var f = document.getElementById(str1);
         var f_id = f.options[f.selectedIndex].value;
         document.getElementById(str1.concat(f_id)).disabled = false;
         document.getElementById(str1.concat(f_id)).style.display = "inline-block";
         document.getElementById(str2.concat(f_id)).style.display = "inline-block";
      }
      function disable_all() {
         var f = document.getElementsByClassName('coleccion_drop');
         for (let x of f) {
            var str1 = x.id
            document.getElementById(str1).disabled = true;
            document.getElementById(str1).style.display = "none";
            var str2 = str1.replace("id", "l");
            document.getElementById(str2).style.display = "none";
            
         }
         myFunction()
      }
   </script>
{% endblock %}