{% extends 'base.html' %}
{% block content %}
   <table id="tabla">
      <tr>
         <th>Nombre</th>
         <th>Barrio</th>
         <th>Dirección</th>
         <th>Contactos</th>
      </tr>
      {% for shop in shops %}
         <tr>
            <td><a href="{% url 'shop_details' pk=shop.pk %}">{{ shop.nombre }}</a></td>
            <td>{{ shop.barrio }}</td>
            <td>{{ shop.direccion }}</td>
            <td>
               {% for contacto in shop.contactos.all %}
                  <a href="{% url 'contact_details' pk=contacto.pk %}">{{ contacto|linebreaks }}</a>
               {% endfor %}
            </td>
         </tr>
      {% endfor %}
   </table>
{% endblock %}