h1, h2, h3, h4 {
   font-family: 'Gayathri';
   text-align: center;
}

.content{
	clear: both;
	width: 100%;
	margin-top: 70px;
	display: block;

}

.contact{
	text-align: left;
	margin-left: 10%;
}

.filtro {
	padding-top: 50px;
   width: 50%;
   margin: 0 auto;
}
   
h1.contact {
	margin-top: 75px;
	margin-bottom: 0px;
}

h3.contact {
	margin-top: 5px;
}

label {
	font-weight: bold;
}

div.contact {
   display: inline-block;
   text-align: center;
}

#nav-bar {
	width: 70%;
	margin-left: 15%;
	margin-right: 15%;
   min-width: 300px;
}
.nav-item {
   margin-left: 5%;
   margin-right: 5%;
   float: left;
   width: 15%;
   display: inline-block;
   text-align: center;
}

table {
	margin-top: 30px;
	width: 100%;
	padding-left: 15%;
   padding-right: 15%;
   min-width: 300px;
}

th, td {
	padding-right: 5px;
	padding-left: 5px;
	border: 1px solid black;
}

.done {
	text-decoration: line-through;
}

.coleccion_drop, .coleccion_drop_label, .presentacion_drop, .presentacion_drop_label{
	display: none;
}